name: "Release"

on:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest

    steps:
      - name: "Release please!"
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}

      - name: "Clone repository (if release)"
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@v4

      - name: "Install Node.js (if release)"
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: "npm ci (if release)"
        if: ${{ steps.release.outputs.release_created }}
        run: npm ci

      - name: "npx jsr publish --allow-dirty (if release)"
        if: ${{ steps.release.outputs.release_created }}
        run: npx jsr publish --allow-dirty

      - name: "npm run build (if release)"
        if: ${{ steps.release.outputs.release_created }}
        run: npm run build

      - name: "Publish workspaces to npm (if release)"
        if: ${{ steps.release.outputs.release_created }}
        run: npm publish --workspace 'packages/**'
